/* body{
    background-color:cornflowerblue;
    height: fit-content;
    width: fit-content;
    font-size: 20px;
}
li{
    padding-top: 15px;
} */

input{
    font-size: 27px;
    padding-left: 40px;
}

label{
    font-size: 35px;
}